*{
    margin: 0;
    padding: 0;
}
.main{
    display: grid;
    grid-template-columns: repeat(8, 100px);
    border: 2px solid black;
    width: 800px;
    margin: 0 auto;
}
.kh{    
    width: 100px;
    height: 100px;
    background-color: khaki;
}
.bl{
    width: 100px;
    height: 100px;
    background-color: #680510;
}

 