  body {
      background-color: #111;
      color: white;
      font-family: Arial, sans-serif;
    }
    h1 {
      text-align: center;
      color: white;
    }
    table {
      border-collapse: 1px;
      margin: 10px auto;
    }
    td {
      text-align: center;
      color: white;
      border: none;
      padding: 8px;
      width: 70px;
      height: 70px;
      border-radius: 15px;
    }
    td b {
      font-size: 20px;
      font-weight: bold;
      display: block;
    }
    td span {
      font-size: 12px;
      display: block;
    }
    td small {
      font-size: 10px;
      display: block;
    }
    
  </style>